MONGODB_URL='mongodb://localhost:27017/filmes-db'

SECRET=MIICXQIBAAKBgQDBcT5JTeXpRIjx1xN0dCBIx7fLLRMP/IOS47XyGrGMxQyygVrrk2rBt/+7tFhXjcWeyw5yBEMf6xVF3eMmtMMncrs7/Ve7CV+E3ihaGPl7gsyJ85NLgRPCYiFB5AhuEO0p8V8YcQ1RJ0CbqPCJnzbJKHPibegT1/vQgBYTby7QFwIDAQABAoGAdz2lFW6tQGN8vwbC+U/z7qkdxGJek8YmHM+9AiYuOAXnU8mlD/3pGsyfGUeMBTxhCwdEOkgiUHSKwmyKbvuSJ5V1coUMKhy90s+dkobJ2/BMZvckpvJ9DyFB0cCwEqeI7yJ5je0sEyq8LAnSnD8oPMa2t7TrdQfh/5s5Neh6LDECQQDzyZIhxwP/olU0gifah6oaKwmjqJGtv/B1OfbUOIORSsJ2Bj2C3vsZ077YzFVmAMWdklQoqAxDGYehuN6PzforAkEAyyIG+Dqz3SPVu3ddheKI9rc6m8+Ds2OgdQpbAJeItZO8fUgmAYV3jp1MGkEWXYGGe7AzcGJ6QlhR4npZbRJnxQJAUyZQSmcH7RwgNa2jDD0zfoNpYUGwlnOd/03K621vKpI2K21Lc6S8Pn3jXSysgAMJZAox3EAdFpHRmg5lEuVtSwJBAJ+kxHl+GTGpIibNLvE0EpRjeGpP8p+fotGZK+ARN94Ml8yWUVhMvqOUt+TCVoNycnDvD945ZwCRTPmDUpjIKEkCQQCOnl83x2sdW3MFLoKYsFQBl9FXAeNBGj
